@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.profile-img.animate, .profile-img-a.animate {
  animation: popIn 0.6s ease-out forwards;
}
